rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Fonction pour vérifier si l'utilisateur est un administrateur
    function isAdmin() {
      return request.auth != null && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    // Accès aux documents d'administration
    match /admins/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false;
    }

    // Profils utilisateurs et sous-collections privées
    match /users/{userId} {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null && request.auth.uid == userId;
      
      match /notes/{noteId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /progress/{resourceId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    // Ressources, Parcours et Certifications
    match /resources/{resourceId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    match /learningPaths/{pathId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    match /certifications/{certId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
    
    // Feedback
    match /feedback/{feedbackId} {
        allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
        allow read, update, delete: if isAdmin();
    }

    // Espace Communautaire (Chat)
    match /community_messages/{messageId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null 
                    && request.resource.data.userId == request.auth.uid
                    && request.resource.data.text is string
                    && request.resource.data.text.size() <= 1000;
    }

    // Autorisation des requêtes de groupe de collection
    match /{path=**}/progress/{resourceId} {
      allow read: if isAdmin();
    }
    
    match /{path=**}/notes/{noteId} {
      allow read: if isAdmin();
    }
  }
}