rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    match /admins/{userId} {
      allow read: if request.auth.uid == userId;
      allow write: if false;
    }

    match /users/{userId} {
      allow read: if request.auth != null;
      allow create, update: if request.auth.uid == userId;
    }

    match /resources/{resourceId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && isAdmin();
    }

    match /learningPaths/{pathId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && isAdmin();
    }

    match /certifications/{certId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && isAdmin();
    }

    // This rule allows a user to read and write to their own progress documents.
    match /users/{userId}/progress/{resourceId} {
      allow read, write: if request.auth.uid == userId;
    }

    // This rule allows an admin to read any progress document, which is necessary
    // for collection group queries used in the admin dashboard.
    match /{path=**}/progress/{resourceId} {
      allow read: if isAdmin();
    }
    
    match /feedback/{feedbackId} {
        allow create: if request.auth.uid != null && request.auth.uid == request.resource.data.userId;
        allow read, update, delete: if isAdmin();
    }
  }
}
